@import "config";

* {
  box-sizing: border-box;
  font-family: $main-font;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: $h-color;
  &:visited {
    color: $h-color;
  }
}

body {
  background-color: $background-color;
  font-family: $main-font;
}
